.brand_row .col{
    border-bottom: 1px solid var(--gray2);
    padding: 0px;
}
.brand_row .row{
    margin: 0px;
}
.brand_row:first-child .col{
    border-top: 1px solid var(--gray2);
}
.brand_card{
    display: flex;
    text-align: center;
    color: var(--linkBlack);
    font-size: 14px;
    line-height: 20px;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
}
.brand_card .brand_img{
    margin-bottom: 15.15px;
    width: 100%;
}
.brand_card .desc{
    max-width: 148px;
    font-family: "FuturaBookC Regular";
    margin: 0px auto;
}
@media (min-width: 994px) {
    .brand_row .col:not(:last-child){
        border-right: 1px solid var(--gray2);
    }
    .brand_card{
        padding-top: 56px;
        padding-bottom: 56px;
    }
}
@media (max-width: 993px) {
    .brand_row .col{
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .brand_row .col:nth-child(5),
    .brand_row .col:nth-child(3),
    .brand_row .col:nth-child(1){
        border-right: 1px solid var(--gray2);
    }
    .brand_card{
        padding-top: 26px;
        padding-bottom: 26px;
    }
}
@media (min-width: 768px) and (max-width: 990px) {
    .brand_row .col{
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .brand_row .col:nth-child(3){
        border-right: 0px;
    }
    .brand_row .col:nth-child(4),
    .brand_row .col:nth-child(2){
        border-right: 1px solid var(--gray2);
    }
}