.breadcrumb{
    background-color: transparent;
    border-radius: initial;
    font-size: 0.75rem;
    font-family: "FuturaBookC Regular";
    color: var(--gray1);
  }
  .breadcrumb-item+.breadcrumb-item::before{
    width: 3px;
    height: 3px;
    background: var(--linkBlack);
    padding: 0px;
    margin-right: .5rem;
    border-radius: 1px;
    content: "";
  }
  .media_title_wrapper .breadcrumb-item+.breadcrumb-item::before{
    border: 0.5px solid #000000;
    background: var(--borderColor);
  }
  .breadcrumb-item a,
  .breadcrumb-item.active{
    color: var(--gray1);
  }
  .media_title_wrapper .breadcrumb-item a, 
  .media_title_wrapper .breadcrumb-item.active{
    color: var(--borderColor);
  }
  .breadcrumb-item a:hover{
    color: var(--mainGreen);
  }
  .media_title_wrapper h1.page_title{
    color: #ffffff;
  }
  @media (min-width: 993px) {
    .breadcrumb-item+.breadcrumb-item{
      display: flex;
      align-items: center;
    }
    .breadcrumb{
      padding: 0px;
      margin-bottom: 24px;
    }
  }
  @media (max-width: 993px) {
    .breadcrumb{
      overflow-x: scroll;
      display: -webkit-box;
      width: 100%;
      padding: 0px 15px;
      margin-bottom: 0;
      flex-wrap: initial;
      -ms-overflow-style: none;
      scrollbar-width: none;
      -webkit-overflow-scrolling: touch;
    }
    .breadcrumb::-webkit-scrollbar{
      display: none;
    }
    .breadcrumb-item{
      display: block;
      white-space: nowrap;
    }
    .breadcrumb-item:last-child{
      padding-right: 15px;
    }
    nav[aria-label=breadcrumb]{
      margin-left: -15px;
      margin-right: -15px;
    }
  }