.footer{
    font-family: "FuturaBookC Regular";
}
.footer.footer_dark{
    background: var(--linkBlack);
}
.footer.footer_dark,
.footer.footer_dark a{
    color: #ffffff;
}
.footer_top{
    padding-bottom: 50px;
}
.footer_labels{
    border-bottom: 0.5px solid var(--footerDarkLine);
    padding: 25px 0px;
    margin-bottom: 32px;
}
.footer_top .footer_label{
    font-family: "FuturaDemiC";
    letter-spacing: 0.05em;
    font-size: 12px;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 0px;
    display: block;
    color: var(--borderColor);
}
.footer_nav{
    font-size: 13px;
    line-height: 16px;
}
.footer .footer_label{
    font-size: 16px;
    line-height: 30px;
    font-family: "FuturaMediumC";
    margin-bottom: 22px;
    color: var(--mainGreen);
}
.footer_bottom{
    font-size: 12px;
    line-height: 14px;
    border-top: 0.5px solid var(--footerDarkLine);
}
.footer_bottom .itm:not(:last-child){
    margin-right: 5px;
}
.footer_row:{
    font-size: 13px;
    line-height: 15px;
}
.footer_row:not(:last-child){
    margin-bottom: 20px;
}
.footer_row .title{
    font-size: 13px;
    line-height: 15px;
    color: var(--gray2);
    margin-bottom: 13px;
}
.footer .phone{
    font-family: "FuturaDemiC";
    font-size: 14px;
    line-height: 16px;
}
.footer .phone_list .phone:not(:last-child){
    margin-bottom: 6px;
}
.footer .contact_bottom{
    margin-top: 20px;
    font-size: 13px;
    line-height: 15px;
}
.footer .contact_bottom i{
    margin-right: 5px;
}
.footer a:hover{
    color: var(--mainGreen);
}
.footer .footer_bottom a{
    color: var(--mainGreen);
}
.footer_dark .social_list a{
    border-color: var(--gray1);
}
.footer .footer_in_txt{
    color: var(--gray1);
    font-size: 10px;
    line-height: 11px;
}
.footer .footer_nav li:not(:last-child){
    margin-bottom: 28px;
}
.footer .footer_nav li a{
    max-width: 150px;
    display: inline-block;
}
.footer .form_inpt{
    position: relative;
}
.footer .form_inpt .form-control{
    border: 1px solid var(--borderColor5);
    background: transparent;
}
.footer .form_inpt .mail_button{
    position: absolute;
    z-index: 5;
    cursor: pointer;
    background: transparent;
    border: 0px;
    color: var(--mainGreen);
    top: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
.footer_social_list li{
    font-size: 22px;
}
.footer_social_list li:not(:last-child){
    margin-right: 28px;
}
.footer.footer_dark .footer_social_list li a{
    display: block;
    color: var(--mainGreen);
}
@media (min-width: 994px) {
    .footer_bottom{
        padding-top: 23px;
        padding-bottom: 23px;
        margin-top: 64px;
    }
    .footer{
        padding-top: 32px;
    }
    .footer_row.double_margin{
        margin-bottom: 54px;
    }
}
@media (max-width: 993px) {
    .footer .col{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 30px;
    }
    .footer_bottom{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .footer{
        padding-top: 30px;
    }
    .footer .form_inpt{
        max-width: 70%;
    }
    .footer_row.double_margin{
        margin-bottom: 34px;
    }
}