.main_front h2.page_title{
    margin-bottom: 32px;
}
.inf_img.training{
    text-align: right;
}
.front_section.pd_top_a6{
    padding-top: 48px;
}
.pd_bt_6a{
    padding-bottom: 48px;
}
.row_partners:first-child{
    border-top: 0.5px solid var(--gray2);
}
.row_partners{
    border-bottom: 0.5px solid var(--gray2);
}
.partner_card{
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
    padding-top: 36px;
    padding-bottom: 28px;
}
.partner_col{
    border-right: 0.5px solid var(--gray2);
}
.partner_list{
    margin-bottom: 32px;
}
@media (min-width: 994px) {
    .partner_col:first-child{
        border-left: 0.5px solid var(--gray2);
    } 
}
@media (max-width: 993px) {
    .section_popular_cat{
        padding-top: 24px;
    }
    .partner_col{
        border-bottom: 0.5px solid var(--gray2);
    }
    .row_partners{
        margin-bottom: -1px;
        border-left: 0.5px solid var(--gray2);
    }
}