.front_big_slider .bg_slide{
    position: relative;
    overflow: hidden;
    color: var(--black2);
}
.front_big_slider .bg_slide .title{
    width: 100%;
    font-size: 50px;
    line-height: 58px;
}
.front_big_slider .bg_slide .text{
    font-size: 18px;
    font-family: "FuturaMediumC";
    line-height: 21px;
    max-width: 455px;
}
.front_big_slider .bg_slide .img_list .itm:not(:last-child){
    margin-right: 35px;
}
.front_big_slider .btn{
    border-width: 2px;
    text-transform: uppercase;
    padding: .695rem 1.3rem .595rem 1.3rem;
    margin-top: 41px;
}
.front_big_slider .slide_text{
    position: relative;
    z-index: 5;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    padding: 108px 77px;
}
.front_big_slider .center_image{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.front_big_slider .slide_color{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
}
.main_front h2.page_title{
    margin-bottom: 32px;
}
.front_section.border_top{
    border-top: 0.5px solid var(--borderColor6);
    padding-top: 32px;
    padding-bottom: 48px;
}
.ront_section.section_about{
    padding-top: 48px;
}
.section_about .about_bottom{
    margin-top: 48px;
}
.section_about .about_bottom .itm:not(:last-child){
    margin-right: 30px;
}
.section_info_text p{
    font-size: 13px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: var(--gray1);
}
.inf_img{
    position: relative;
}
.inf_img img{
    position: relative;
    z-index: 2;
}
.inf_body_left,
.inf_img.about{
    padding-right: 30px;
}
.inf_img.training,
.inf_body_right{
    padding-left: 30px;
}
.inf_img.training{
    text-align: right;
}
.front_section.pd_top_a6{
    padding-top: 48px;
}
.section_info_text{
    overflow: hidden;
}
.inf_img::before{
    content: "";
    width: 315px;
    height: 231px;
    position: absolute;
    top: -70px;
    background-position: center!important;
    background-size: contain!important;
    background-repeat: no-repeat!important;
}
.inf_img.about::before{
    background: url('../image/imagebg1.png');
    left: -130px;
}
.inf_img.proiz::before{
    background: url('../image/imagebg3.png');
    left: -130px;
}
.inf_img.training::before{
    right: -130px;
    background: url('../image/imagebg2.png');
}
.pd_bt_6a{
    padding-bottom: 48px;
}
.inf_body_right,
.inf_body_left{
    padding-top: 24px;
}