.full_product .product_title{
    font-size: 40px;
    line-height: 32px;
    font-family: "FuturaDemiC";
    color: var(--black);
    margin-bottom: 32px;
}
.full_product .product_desc_text{
    font-size: 13px;
    line-height: 28px;
    color: var(--gray1);
}
.full_product .product_info_bottom{
    margin-left: -20px;
}
.full_product .product_info_bottom .itm:not(:last-child){
    margin-right: 30px;
}
@media (min-width: 994px) {
    .full_product .gallery_wrap {
        padding-right: 22px;
    }
    .full_product .product_image{
        padding-left: 105px;
    }
}
@media (max-width: 993px) {
    
}
@media (max-width: 1330px) {
    .table_wrapper{
        overflow: hidden;
        overflow-x: scroll;
    }
    .table_wrapper table{
        min-width: 1010px;
    }
}
@media (min-width: 999px) and (max-width: 1380px) {
    .full_product .product_image{
        padding-left: 0px;
    }
}
@media (min-width: 770px) and (max-width: 990px) {
    .full_product .product_title{
        font-size: 32px;
        margin-bottom: 20px;
    }
}