.header_top{
    background: #0D1214;
    color: #939191;
    padding-bottom: 17px;
    padding-top: 16px;
    font-size: 0.75rem;
    font-family: "FuturaMediumC";
  }
  .header_dummy_lg{
    min-height: 73px;
  }
  .header_dummy_md{
    min-height: 55px;
    display: none;
  }
  .header_sticky.sticky + .header_dummy_md{
    display: block;
  }
  .header_sticky.sticky,
  .header_top.fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
  }
  .header_top a{
    color: #939191;
  }
  .header_nav li .button:hover,
  .header_phone a,
  .header_top a:hover{
    color: var(--gray2);
  }
  .header_phone{
    position: relative;
    padding-right: 40px;
    padding-left: 15px;
  }
  .header_nav > li{
    padding: 10px 0px;
  }
  .header_phone::after{
    position: absolute;
    color: var(--gray1);
    content: "\e90b";
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
    right: 9px;
    top: 50%;
    margin-top: -10px;
  }
  .header_phone::before{
    content: "";
    border-radius: 50%;
    border: 1px solid var(--gray1);
    top: 50%;
    margin-top: -9px;
    right: 10px;
    width: 18px;
    height: 18px;
    line-height: 16px;
    position: absolute;
  }
  .header.fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
  }
  .header_dummy_xg{
    display: block;
    height: 128px;
  }
  .header_nav{
    display: flex;
  }
  .header_nav li:not(:last-child){
    margin-right: 28px;
  }
  .service_menu li:not(:last-child){
    margin-right: 32px;
  }
  .header_ico_link i{
    margin-right: 6px;
    font-size: 17px;
  }
  .header_ico_link i.icon-bookmark{
    font-size: 14px;
  }
  .user_buttom{
    padding-left: 15px;
    display: block;
  }
  .user_buttom span{
    width: 28px;
    height: 28px;
    display: block;
    border: 1.5px solid rgba(83, 84, 90, 0.3);
    position: relative;
    border-radius: 50%;
    overflow: hidden;
  }
  .user_buttom span i{
    font-size: 28px;
    position: absolute;
    top: -2px;
    left: -1.50px;
  }
  .header_bottom{
    font-family: "FuturaDemiC";
    border: 1px solid var(--borderColor);
    font-size: 0.81rem;
    padding: 15px 0px;
    background: var(--mainBg);
  }
  .header_bottom a{
    color: var(--linkBlack);
  }
  .header_bottom .stocks_link{
    font-size: 14px;
    color: var(--textRed);
    display: block;
    background: url('../image/ico/button_line.svg');
    width: 70px;
    height: 23px;
    text-align: center;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
  }
  .header_bottom .header_catalog{
    cursor: pointer;
    text-transform: uppercase;
  }
  .header_bottom .header_catalog span{
    display: block;
    padding-top: 2px;
  }
  .header_bottom .header_catalog .ico{
    width: 18px;
    height: 12px;
    margin-right: 7px;
  }
  .header .search_input{
    max-width: 207px;
    min-width: 207px;
  }
  .header_top a.main_logo{
    display: block;
    margin-top: -5px;
  }
  .header_nav li .button{
    cursor: pointer;
    padding-top: 2px;
  }
@media (max-width: 1382px) {
  .header .search_input{
    max-width: 187px;
    min-width: 187px;
  }
  .user_buttom,
  .header_phone{
    padding-left: 0px;
  }
  .header_nav li:not(:last-child){
    margin-right: 20px;
  }
  .header_top .container > .row{
    justify-content: space-between;
  }
}
@media (max-width: 1378px) {
  .service_menu li:not(:last-child){
    margin-right: 12px;
  }
}
@media (max-width: 1300px) {
  .header_top .header_ico_link span{
    display: none;
  }
  .service_menu li:last-child{
    display: none;
  }
}
@media (min-width: 1205px) {
  .header_nav li .button{
    display: none;
  }
  .submenu_li .header_nav_response{
    display: flex;
  }
}
@media (max-width: 1204px) {
  .header_nav li{
    position: relative;
  }
  .submenu_li .header_nav_response{
    display: none;
    position: absolute;
    background: #fff;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
    width: 150px;
    padding: 5px 15px;
    left: 0;
    left: 0;
    top: 30px;
    text-align: left;
  }
  .submenu_li .header_nav_response li{
    margin-right: 0px;
  }
  .submenu_li .header_nav_response li:not(:last-child){
    margin-bottom: 8px;
  }
  .submenu_li .header_nav_response li a{
    color: var(--linkBlack);
  }
  .submenu_li .header_nav_response li a:hover{
    color: var(--mainGreen);
  }
  .header_nav li.submenu_li:hover > ul{
    display: block;
  }
  .header_nav li.submenu_li{
    min-width: 44px;
    text-align: center;
  }
}
@media (max-width: 993px) {
  .header_phone{
    padding-right: 0px;
  }
  .header_phone::before,
  .header_phone::after{
    display: none;
  }
}