.header_top{
  background: #020817;
  color: #939191;
  font-size: 0.75rem;
  font-family: "FuturaMediumC";
}
  .header_dummy_md{
    min-height: 55px;
    display: none;
  }
  .header_sticky.sticky + .header_dummy_md{
    display: block;
  }
  .header.fixed .header_top,
  .header_sticky.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
  }
  .header_top a{
    color: #939191;
  }
  .header_nav li .button:hover,
  .header_phone a,
  .header_top a.active,
  .header_top a:hover{
    color: #ffffff;
  }
  .header_phone{
    position: relative;
    padding-right: 40px;
  }
  .header_nav > li{
    padding: 10px 0px;
  }
  .header_phone::after{
    position: absolute;
    color: var(--gray1);
    content: "\e90d";
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
    right: 9px;
    top: 50%;
    margin-top: -10px;
  }
  .header_phone::before{
    content: "";
    border-radius: 50%;
    border: 1px solid var(--gray1);
    top: 50%;
    margin-top: -9px;
    right: 10px;
    width: 18px;
    height: 18px;
    line-height: 16px;
    position: absolute;
  }
  .header.fixed_big{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
  }
  .header_dummy_xg{
    display: block;
    height: 128px;
  }
  .header_nav{
    display: flex;
  }
  .header_top.dynamic{
    will-change: transform;
    transform: translateZ(0);
    transition: transform .2s linear,height .12s;
  }
  .header_top.header_pinned{
    transform: translateY(0);
  }
  .header_top.header_unpinned{
    transform: translateY(-100%);
  }
  .header_nav li:not(:last-child){
    margin-right: 28px;
  }
  .service_menu > li:not(:last-child){
    margin-right: 32px;
  }
  .header_ico_link i{
    margin-right: 6px;
    font-size: 17px;
  }
  .header_ico_link:hover i{
    color: var(--mainGreen);
  }
  .header_ico_link i.icon-bookmark{
    font-size: 14px;
  }
  .user_buttom{
    padding-left: 15px;
    display: block;
  }
  .user_buttom span{
    width: 28px;
    height: 28px;
    display: block;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
  }
  .user_buttom:not(.user_auth) span{
    border: 1.5px solid rgba(83, 84, 90, 0.3);
  }
  header.header .header_top .user_buttom.user_auth span{
    background-position: center!important;
    background-size: contain!important;
    background-repeat: no-repeat!important;
  }
  .user_buttom span i{
    font-size: 28px;
    position: absolute;
    top: -2px;
    left: -1.50px;
  }
  .user_buttom:hover span i{
    color: var(--mainGreen);
  }
  .header_bottom{
    font-family: "FuturaDemiC";
    border: 1px solid var(--borderColor);
    font-size: 0.81rem;
    background: var(--mainBg);
  }
  .header_bottom a{
    color: var(--linkBlack);
  }
  .header_bottom .stocks_link{
    font-size: 14px;
    color: var(--textRed);
    display: block;
    background: url('../image/ico/button_line.svg');
    width: 70px;
    height: 23px;
    text-align: center;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
  }
  .header_bottom .header_catalog{
    cursor: pointer;
    letter-spacing: 0.02em;
    font-size: 13px;
    line-height: 14px;
    text-transform: uppercase;
  }
  .header_bottom .header_catalog span{
    display: block;
    padding-top: 2px;
  }
  .header_bottom .header_catalog .ico{
    width: 18px;
    height: 12px;
    margin-right: 7px;
  }
.header .search_input{
  max-width: 207px;
  min-width: 207px;
  position: absolute;
  top: 0px;
  right: 43.59px;
  z-index: 10;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
  font-family: "FuturaDemiC";
  color: #020611;
  letter-spacing: 0.02em;
  box-shadow: 0 0 0 0!important;
  border: 0.5px solid var(--borderColor5)!important;
}
.header .search_input.elem_focus{
  max-width: 265%;
  width: 265%;
}
  .header_top a.main_logo{
    display: block;
    margin-top: -5px;
  }
  .header_nav li .button{
    cursor: pointer;
    padding-top: 2px;
  }
.header_search{
  position: relative;
  width: 100%;
  min-width: 250px;
  justify-content: flex-end;
}
.header_bottom .service_menu > li > a{
  display: block;
}
.btn-lg.btn_search{
  font-size: 1rem;
  min-height: 40px;
}
.header_bottom .header_catalog:hover,
.header_bottom .service_menu > li:hover > a{
  color: var(--red);
}
.service_menu > li{
  position: relative;
}
.service_menu > li .expand_menu{
  position: absolute;
  z-index: 10;
  border-radius: 2px;
  background: var(--mainBg);
  font-size: 15px;
  line-height: 14px;
  padding: 5px 24px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.08);
  min-width: 354px;
  display: none;
}
.service_menu > li:hover .expand_menu{
  display: block;
}
.service_menu > li .expand_menu::before{
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  background: var(--red);
  border-radius: 0.5px;
  height: 3px;
}
.service_menu > li .expand_menu li:not(:last-child){
  border-bottom: 1px solid var(--borderColor);
}
.service_menu > li .expand_menu li a{
  display: block;
  margin: 0px -24px;
  padding: 13px 24px;
  border-radius: 2px;
}
.service_menu > li .expand_menu > li:hover > a{
  background: var(--footerCals);
  color: var(--red);
}
@media (max-width: 1382px) {
  .header .search_input{
    max-width: 187px;
    min-width: 187px;
  }
  .user_buttom,
  .header_phone{
    padding-left: 0px;
  }
  .header_nav li:not(:last-child){
    margin-right: 20px;
  }
  .header_top .container > .row{
    justify-content: space-between;
  }
}
@media (max-width: 1378px) {
  .service_menu > li:not(:last-child){
    margin-right: 12px;
  }
}
@media (max-width: 1300px) {
  .header_top .header_ico_link span{
    display: none;
  }
  .service_menu li:last-child{
    display: none;
  }
}
@media (min-width: 1205px) {
  .header_nav li .button{
    display: none;
  }
  .submenu_li .header_nav_response{
    display: flex;
  }
}
@media (max-width: 1204px) {
  .header_nav li{
    position: relative;
  }
  .submenu_li .header_nav_response{
    display: none;
    position: absolute;
    background: #fff;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
    width: 150px;
    padding: 5px 15px;
    left: 0;
    left: 0;
    top: 30px;
    text-align: left;
  }
  .submenu_li .header_nav_response li{
    margin-right: 0px;
  }
  .submenu_li .header_nav_response li:not(:last-child){
    margin-bottom: 8px;
  }
  .submenu_li .header_nav_response li a{
    color: var(--linkBlack);
  }
  .submenu_li .header_nav_response li a:hover{
    color: var(--mainGreen);
  }
  .header_nav li.submenu_li:hover > ul{
    display: block;
  }
  .header_nav li.submenu_li{
    min-width: 44px;
    text-align: center;
  }
}
@media (max-width: 1184px) {
  .service_menu li:nth-last-child(2){
    display: none;
  }
}
@media (max-width: 1134px) {
  .service_menu li:nth-last-child(3){
    display: none;
  }
}
@media (min-width: 994px) {
  .header_top{
    padding-bottom: 17px;
    padding-top: 16px;
  }
  .header_bottom .service_menu > li > a{
    padding: 15px 0px;
  }
  .header .mobile_menu_btn{
    display: none;
  }
  .header.fixed::before{
    content: "";
    display: block;
    height: 73px;
  }
}
@media (max-width: 993px) {
  .header_phone{
    padding-right: 0px;
  }
  .header_phone::before,
  .header_phone::after{
    display: none;
  }

  /*отключить*/
  .header .header_top nav,
  .header .user_buttom,
  .header .header_ico_link,
  .header .header_phone,
  .header .header_bottom nav,
  .header .header_search{
    display: none;
  }
  .header_top{
    padding-bottom: 19px;
    padding-top: 19px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 200;
  }
  .header .main_logo img{
    max-width: 94px;
  }
  .header_bottom .service_menu > li > a{
    padding: 10px 0px;
  }
  .header .mobile_menu_btn{
    cursor: pointer;
  }
  .header .mobile_menu_btn i{
    width: 33px;
    height: 16px;
  }
  .header::before{
    content: "";
    height: 59px;
    display: block;
  }
}