.news_full .top_news_date{
    font-size: 12px;
    line-height: 20px;
    color: var(--gray1);
    text-align: center;
    margin-bottom: 32px;
}
.news_full{
    padding-bottom: 32px;
}
.news_full .news_body{
    color: var(--linkBlack);
}
.news_full .news_body ul:not([class]){
    padding-left: 26px;
}
.news_full .news_body ul:not([class]) li{
    list-style: none;
    position: relative;
}
.news_full .news_body ul:not([class]) li::before{
    content: "";
    width: 10px;
    height: 2px;
    border-radius: 2px;
    position: absolute;
    left: -26px;
    top: 9px;
    display: block;
    background: var(--red);
}
.news_body_empty:not(:first-child){
    margin-top: 26px;
}
.news_full .news_body p{
    line-height: 30px;
    letter-spacing: 0.01em;
}
.news_body_empty .news_card{
    border: 0.5px solid var(--borderColor);
}
.fluid_slider_theme .swiper-slide::before{
    content: "";
    position: absolute;
    z-index: 1;
    top: 0px;
    bottom: 0px;
    right: 0px;
    background: var(--bgBlack);
}
.fluid_slider_theme .title{
    position: absolute;
    z-index: 1;
    top: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 2;
    color: #ffffff;
    display: flex;
    align-items: center;
}
.fluid_slider .swiper-slide{
    overflow: hidden;
    border-radius: 3px;
}
.fluid_slider{
    font-family: "FuturaMediumC";
}
.news_body_empty h4{
    margin-bottom: 24px;
}
@media (min-width: 994px) {
    .news_carousel .news_card.news_default{
        margin-bottom: 32px;
    }
    .news_full .news_body ul:not([class]) li{
        margin-bottom: 25px;
    }
    .news_body p:not(:last-child){
        margin-bottom: 25px;
    }
    .news_body_empty .news_card{
        padding: 32px 80px;
    }
    .news_body_empty.empty_news{
        margin-bottom: 64px;
    }
    .fluid_slider_theme .swiper-slide::before{
        width: 50%;
        opacity: 0.9;
    }
    .fluid_slider_theme .title{
        width: 50%;
        font-size: 30px;
        line-height: 28px;
        padding-left: 62px;
        padding-right: 112px;
    }
    .news_full{
        overflow: hidden;
    }
}
@media (max-width: 993px) {
    .news_full{
        overflow: hidden;
    }
    .fluid_slider_theme .title{
        width: 100%;
        font-size: 22px;
        line-height: 26px;
        padding-left: 65px;
        padding-right: 65px;
        text-align: center;
    }
    .fluid_slider_theme .swiper-slide::before{
        width: 100%;
        opacity: 0.6;
    }
    .fluid_slider{
        margin-left: -15px;
        margin-right: -15px;
    }
    .news_body p:not(:last-child),
    .news_full .news_body ul:not([class]) li{
        margin-bottom: 20px;
    }
    .news_body_empty .news_card{
        padding: 20px;
    }
    .news_body_empty.empty_news{
        margin-bottom: 30px;
    }
}