.product_filter{
    background: var(--mainBg);
    position: relative;
    color: var(--black);
}
.product_filter .filter_header{
    background: #fafafa;
    padding: 17px 23px 13px 23px;
    position: relative;
    border: 1px solid #dee0e8;
    border-radius: 2px;
    margin-bottom: 2px;
}
.product_filter .filter_header .label{
    text-transform: uppercase;
    color: var(--black4);
    font-family: "FuturaDemiC";
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
}
.product_filter .filter_header .reload{
    position: absolute;
    color: var(--red);
    font-size: 20px;
    right: 16px;
    top: 10px;
    cursor: pointer;
    z-index: 1;
}
.product_filter .filter_content{
    padding: 0px 23px 25px 23px;
    border: 0.5px solid #cfcfcf;
    border-radius: 2px;
}
.product_filter .filter_bottom{
    margin-top: 24px;
}
.product_filter .filter_collapse .collapse_label{
    padding: 21px 0px;
    font-size: 14px;
    line-height: 16px;
    font-family: "FuturaMediumC";
    display: flex;
    align-items: center;
    cursor: pointer;
}
.product_filter .filter_collapse {
    border-bottom: 0.5px solid #E3E3E3;
}
.product_filter .filter_collapse .collapse_label i{
    font-size: 12px;
    margin-right: 7px;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    -ms-transition: -ms-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;  
}
.product_filter .filter_collapse.show .collapse_label,
.product_filter .filter_collapse .collapse_label:hover{
    color: var(--red);
}
.product_filter .filter_collapse .custom-checkbox{
    font-size: 14px;
    line-height: 16px;
    font-family: "FuturaMediumC";
    display: flex;
    align-items: center;
}
.product_filter .filter_collapse .custom-control-label{
    cursor: pointer;
}
.product_filter .filter_collapse .custom-control-label::before{
    top: -0.14rem;
}
.product_filter .filter_collapse .custom-checkbox .custom-control-input:checked~.custom-control-label::after{
    top: 2px;
}
.product_filter .filter_collapse .collapse_content{
    display: flex;
    overflow: hidden;
}
.product_filter .filter_collapse .collapse_content .collapse_wrp{
    transition: margin-bottom 0.2s cubic-bezier(0, 0, 0, 1);
    margin-bottom: 0;
    max-height: 1000000px;
    padding-bottom: 21px;
    width: 100%;
}
.product_filter .filter_collapse:not(.show) .collapse_content .collapse_wrp{
    margin-bottom: -2000px;
    transition: margin-bottom 0.2s cubic-bezier(1, 0, 1, 1), visibility 0s 0.2s, max-height 0s 0.2s;
    visibility: hidden;
    max-height: 0;
}
.product_filter .filter_collapse .collapse_content .form-group:last-child{
    margin-bottom: 0px;
}
.product_filter .filter_collapse.show .collapse_label i{
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.product_filter .filter_collapse .range_wrapper{
    padding-top: 20px;
}
.range_input{
    display: flex;
    align-items: center;
    border-radius: 2px;
    position: relative;
    background: #ffffff;
    overflow: hidden;
    border: 0.5px solid var(--borderColor5);
    padding-left: 15px;
    padding-right: 14px;
    cursor: text;
}
.range_input input{
    width: 100%;
    border: 0px;
    height: 40px;
    padding-top: 5px;
    outline: none!important;
    font-size: 14px;
    line-height: 16px;
    color: var(--black);
    font-family: "FuturaDemiC";
}
.range_input .sep{
    font-size: 12px;
    font-family: "FuturaBookC Regular";
    color: #989999;
    padding-right: 7px;
}
.range_input .cr{
    color: var(--black);
    padding-left: 7px;
}
.range_input .cr i{
    font-size: 10px;
}
.collapse_price{
    margin: 0px -23px;
    padding: 0px 23px;
}
@media (min-width: 994px) {
    .filter_opn_btn{
        display: none;
    }
}
@media (max-width: 993px) {
    .filter_opn_btn{
        margin-bottom: 10px;
    }
    .product_filter{
        margin-bottom: 15px;
    }
    .product_filter:not(.show){
        display: none;
    }
}