.rew_card{
    display: block;
    background: var(--gray4);
    border-radius: 1px;
    padding: 36px;
}
.rew_card img{
    border-radius: 1px;
}
.rew_card_text{
    background: var(--footerCals);
    position: relative;
    color: var(--black3);
}
.rew_card_text:not(.rew_card_big) .rew_img img{
    max-width: 74px;
    max-height: 74px;
}
.rew_card_text.rew_card_big .rew_img img{
    max-width: 115px;
    max-height: 115px;
}
.rew_card_text .rew_img img{
    border-radius: 50%;
}
.rew_card_text .rew_inf p{
    font-size: 13px;
    line-height: 28px;
    margin-bottom: 24px;
    letter-spacing: 0.01em;
}
.rew_card_text .rew_user::before{
    content: "";
    height: 1px;
    width: 107px;
    background: var(--gray2);
    margin-bottom: 20px;
    display: block;
}
.rew_card_text .rew_user .name{
    font-size: 16px;
    font-family: "FuturaMediumC";
    line-height: 18px;
    margin-bottom: 8px;
}
.rew_card_text .rew_user .city{
    font-size: 13px;
    line-height: 23px; 
    letter-spacing: 0.05em;
}
.rew_card_text.rew_card_big:not(:last-child){
    margin-bottom: 24px;
}
@media (min-width: 994px) {
    .rew_card_text{
        padding: 40px 25px;
    }
    .rew_card_text .rew_img{
        position: absolute;
        top: 40px;
        left: 25px;
    }
    .rew_card_text:not(.rew_card_big) .rew_inf{
        padding-left: 94px;
    }
    .rew_card_text.rew_card_big .rew_inf{
        padding-left: 144px;
    }
}
@media (max-width: 993px) {
    .rew_card_text .rew_img{
        margin-bottom: 20px;
    }
    .rew_card_text{
        padding: 20px;
    }
}