:root{
  --black: #000000;
  --mainBg: #fff;
  --bgBlack: #13191D;
  --maintext: #212529;
  --mainGreen: #019529;
  --linkBlack: #01040C;
  --textRed: #FF3B6A;
  --gray1: #53545A;
  --gray2: #CFCFCF;
  --gray3: #EFEFEF;
  --red: #E0121D;
  --titleColor: #010109;
  --borderColor: #E3E3E3;
  --borderColor2: #ECE9E9;
  --borderColor3: #ECECED;
  --borderColor4: #D6D6D6;
  --borderColor5: #ABABAB;
  --borderColor6: #D8D8D8;
  --yellow: #FFC700;
  --blue: #0C6AF6;
  --purple: #B85FE2;
}
body {
  margin: 0;
  font-family: 'Montserrat',"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--maintext);
  text-align: left;
  background-color: var(--bg);
}
.relative{
  position: relative;
}
.text-right{
  text-align: right;
}
.montserrat{
  font-family: 'Montserrat',"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
@media (min-width: 1200px) {
  .container, .container-sm, .container-xl {
     max-width: 1390px;
  }
  .container-lg{
    max-width: 1128px;
  }
  .container-md{
    max-width: 897px;
  }
}
.color_label.label_red{
  background: var(--textRed);
}
.color_label.label_green{
  background: var(--mainGreen);
}
.color_label.label_blue{
  background: var(--blue);
}
.color_label.label_yellow{
  background: var(--yellow);
}
.color_label.label_purple{
  background: var(--purple);
}
.color_label{
  color: var(--mainBg);
  z-index: 5;
  position: absolute;
  height: 24px;
  width: 155px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 33px;
  left: -33px;
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}
ul[class]{
  padding: 0px;
  margin: 0px;
}
ul[class] li{
  list-style: none;
}
.flex{
  display: flex;
}
.align_center{
  align-items: center;
}
.align_content{
  align-content: center;
}
.space_between{
  justify-content: space-between;
}
.cl{
  padding-right: 15px;
  padding-left: 15px;
}
.btn-lg{
  padding: .25rem 0.80rem;
}
.btn-lg.btn_search{
  font-size: 1rem;
}
.btn-success{
  background-color: var(--mainGreen);
  border-color: var(--mainGreen);
}
.btn-outline-secondary{
  color: var(--linkBlack);
  border-color: var(--borderColor2);
}
.btn-outline-secondary:hover{
  color: var(--linkBlack);
  background-color: var(--borderColor2);
  border-color: var(--borderColor2);
}
.btn{
  border-radius: 2px;
}
.uppercase{
  text-transform: uppercase;
}
.form-control{
  border-radius: 2px;
  font-size: 12px;
  border: 0.5px solid var(--borderColor5);
  height: 40px;
  font-family: "FuturaBookC Regular";
  background-color: var(--mainBg);
  padding: 0.8rem;
}
.form-control::placeholder{
  color: #989999;
}
.ico{
  display: inline-block;
}
.ico.ico_header_menu{
  background: url('../image/ico/menu.svg');
}
.ico.ico_right_menu{
  background: url('../image/ico/right_menu.svg');
}
.ico_right_menu_red{
  background: url('../image/ico/right_menu_red.svg');
}
.ico.ico_pattern{
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.no_sel{
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;   
}
.main{
  padding-top: 15px;
  padding-bottom: 64px;
  min-height: 400px;
}
h1, h2, h3{
  font-family: "FuturaMediumC";
  color: var(--titleColor);
}
.text_center{
  text-align: center;
}
h1.page_title{
  font-weight: 500;
  font-size: 34px;
  line-height: 39px;
  margin-bottom: 36px;
}
h2.page_title{
  font-size: 40px;
  line-height: 36px;
  font-family: "FuturaDemiC";
  margin-bottom: 56px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.page_title.margin_sm{
  margin-bottom: 15px;
}
.page_title.margin_md{
  margin-bottom: 40px;
}
.btn_fluid_loading{
  font-family: "FuturaDemiC";
  color: var(--black);
  border:0.5px solid var(--borderColor4);
  border-radius: 1px;
  text-transform: uppercase;
  padding: .6rem .75rem;
}
.btn_fluid_loading:hover {
  color: var(--black);
  background-color: var(--borderColor4);
  border-color: var(--borderColor4);
}
.row_m_b{
  margin-bottom: 25px;
}
.hide_link{
  color: var(--black);
}
.custom-control-label::before{
  border-color: var(--borderColor5);
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 2px!important;
  top: .15rem;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::after{
  background-image: initial;
  width: 5px;
  height: 5px;
  background: var(--linkBlack);
  border-radius: 1px;
  top: 9px;
  left: -18px;
}
.custom-control-input:checked~.custom-control-label::before{
  border-color: var(--borderColor5);
  background-color: initial;
}
[role=button],
a,
label{
  outline: none!important;
}
.input_wrapper{
  position: relative;
}
.input_wrapper .required{
  font-size: 14px;
  line-height: 16px;
  font-family: "FuturaMediumC";
  position: absolute;
  z-index: 1;
  top: 6px;
  right: 7px;
  cursor: text;
}
.social_list li:not(:last-child){
  margin-right: 10px;
}
.social_list a{
  display: block;
  width: 40px;
  height: 40px;
  border: 0.5px solid var(--borderColor5);
  border-radius: 50%;
  position: relative;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social_list li.vk a{
  color: #497BAD;
}
.social_list li.fb a{
  color: #22599B;
}
.social_list li.insta a{
  color: #FC2E68;
}
.social_list li.yt a{
  color: #F7240E;
}
.mes_list{
  margin-bottom: 6px!important;
  font-size: 13px;
  line-height: 15px;
}
.mes_list a{
  color: var(--linkBlack);
}
.mes_list  li:not(:last-child){
  margin-right: 6px;
}
a{
  text-decoration: none!important;
  color: var(--mainGreen);
}
.hide_link:hover,
a:hover{
  color: var(--mainGreen);
}
.swiper_button{
  width: 53px;
  height: 43px;
  border-radius: 2px;
  background: var(--red);
  color: #ffffff;
  font-size: 20px;
}
.swiper_button::after,
.swiper_button::before{
  display: none!important;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
  right: -1px;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
  left: -1px;
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
  display: none;
}
.swiper-pagination .swiper-pagination-bullet{
  width: 8px;
  height: 8px;
  border-radius: 2px;
  opacity: 0.2;
  border: 1px solid var(--black);
  background: var(--mainBg);
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
  border-color: var(--red);
  background: var(--red);
  opacity: 1;
}
.swiper_wrapper{
  position: relative;
}
.swiper_wrapper .swiper-pagination{
  bottom: -52px;
  left: 0;
  width: 100%;
}
.swiper_wrapper .swiper-pagination .swiper-pagination-bullet{
  margin-left: 8px;
  margin-right: 8px;
}
.hide{
  display: none!important;
}
h2.page_title.margin_32{
  margin-bottom: 32px;
}
.swiper_bullets{
  margin-bottom: 82px;
}
.swiper_carousel img{
  width: 100%;
}
.news_carousel .swiper_button{
  top: 26%;
}
.btn-uppercase{
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  font-family: "FuturaDemiC";
}
.btn-xl{
  padding: .75rem 1.6rem;
}