:root{
  --black: #000000;
  --mainBg: #fff;
  --bgBlack: #13191D;
  --maintext: #212529;
  --mainGreen: #019529;
  --linkBlack: #01040C;
  --textRed: #FF3B6A;
  --gray1: #53545A;
  --gray2: #CFCFCF;
  --gray3: #EFEFEF;
  --gray4: #EEEEEE;
  --gray5: #9299B1;
  --red: #E0121D;
  --titleColor: #010109;
  --borderColor: #E3E3E3;
  --borderColor2: #ECE9E9;
  --borderColor3: #ECECED;
  --borderColor4: #D6D6D6;
  --borderColor5: #ABABAB;
  --borderColor6: #D8D8D8;
  --borderColor7: #EBEFF4;
  --yellow: #FFC700;
  --blue: #0C6AF6;
  --purple: #B85FE2;
  --footerDarkLine: #3a3c43;
}
body {
  margin: 0;
  font-family: 'Montserrat',"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--maintext);
  text-align: left;
  background-color: var(--bg);
}
.relative{
  position: relative;
}
.text-right{
  text-align: right;
}
.montserrat{
  font-family: 'Montserrat',"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
@media (min-width: 768px) {
  .container, .container-sm, .container-xl {
    max-width: 924px;
  }
}
@media (min-width: 992px) {
  .container, .container-sm, .container-xl {
    max-width: 1190px;
  }
}
@media (min-width: 1200px) {
  .container, .container-sm, .container-xl {
     max-width: 1390px;
  }
  .container-lg{
    max-width: 1128px;
  }
  .container-md{
    max-width: 897px;
  }
}
.image_border_r{
  border-radius: 3px;
}
.color_label.label_red{
  background: var(--textRed);
}
.color_label.label_green{
  background: var(--mainGreen);
}
.color_label.label_blue{
  background: var(--blue);
}
.color_label.label_yellow{
  background: var(--yellow);
}
.color_label.label_purple{
  background: var(--purple);
}
.color_label{
  color: var(--mainBg);
  z-index: 5;
  position: absolute;
  font-family: "FuturaDemiC";
  -moz-transform: rotate(-46deg);
  -ms-transform: rotate(-46deg);
  -webkit-transform: rotate(-46deg);
  -o-transform: rotate(-46deg);
  transform: rotate(-46deg);
  top: 30px;
  left: -38px;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  width: 170px;
  align-items: center;
  justify-content: center;
}
.color_label:not(.sm){
  font-size: 13px;
  min-height: 24px;
  padding: 5px 23px;
  line-height: 13px;
}
.color_label.sm{
  font-size: 10px;
  line-height: 12px;
  padding: 2px 23px;
  top: 5px;
  left: -72px;
}
.color_label.text_sm{
  font-size: 9px;
  line-height: 11px;
}
ul[class]{
  padding: 0px;
  margin: 0px;
}
ul[class] li{
  list-style: none;
}
.overflow_h{
  overflow: hidden;
}
.flex{
  display: flex;
}
.align_center{
  align-items: center;
}
.align_content{
  align-content: center;
}
.space_between{
  justify-content: space-between;
}
.cl{
  padding-right: 15px;
  padding-left: 15px;
}
.btn-lg{
  padding: .25rem 0.80rem;
}
.btn-lg.btn_search{
  font-size: 1rem;
}
.btn-success{
  background-color: var(--mainGreen);
  border-color: var(--mainGreen);
}
.btn-outline-secondary{
  color: var(--linkBlack);
  border-color: var(--borderColor2);
}
.btn-outline-secondary:hover{
  color: var(--linkBlack);
  background-color: var(--borderColor2);
  border-color: var(--borderColor2);
}
.btn{
  border-radius: 2px;
}
.uppercase{
  text-transform: uppercase;
}
.form-control{
  border-radius: 2px;
  font-size: 12px;
  border: 0.5px solid var(--borderColor5);
  height: 40px;
  font-family: "FuturaBookC Regular";
  background-color: var(--mainBg);
  padding: 0.8rem;
}
.form-control::placeholder{
  color: #989999;
}
.ico{
  display: inline-block;
}
.ico.ico_header_menu{
  background: url('../image/ico/menu.svg');
}
.ico.ico_right_menu{
  background: url('../image/ico/right_menu.svg');
}
.ico.ico_right_menu2{
  background: url('../image/ico/right_menu2.svg');
}
.ico_right_menu_red{
  background: url('../image/ico/right_menu_red.svg');
}
.ico.ico_pattern{
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.no_sel{
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;   
}
.main{
  padding-top: 15px;
  padding-bottom: 64px;
  min-height: 400px;
}
h1, h2, h3, h4, h5{
  font-family: "FuturaMediumC";
  color: var(--titleColor);
}
.text_center{
  text-align: center;
}
.text_right{
  text-align: right;
}
h1.page_title{
  font-weight: 500;
  font-size: 34px;
  line-height: 39px;
  margin-bottom: 32px;
}
h2.page_title{
  font-size: 40px;
  line-height: 36px;
  font-family: "FuturaDemiC";
  margin-bottom: 48px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.page_title.margin_sm{
  margin-bottom: 15px;
}
.page_title.margin_md{
  margin-bottom: 40px;
}
.btn_fluid_loading{
  font-family: "FuturaDemiC";
  color: var(--black);
  border:0.5px solid var(--borderColor4);
  border-radius: 1px;
  text-transform: uppercase;
  padding: .6rem .75rem;
}
.btn_fluid_loading:hover {
  color: var(--black);
  background-color: var(--borderColor4);
  border-color: var(--borderColor4);
}
.row_m_b{
  margin-bottom: 25px;
}
.hide_link{
  color: var(--black);
}
.custom-control-label::before{
  border-color: var(--borderColor5);
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 2px!important;
  top: .15rem;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::after{
  background-image: initial;
  width: 5px;
  height: 5px;
  background: var(--linkBlack);
  border-radius: 1px;
  top: 9px;
  left: -18px;
}
.custom-control-input:checked~.custom-control-label::before{
  border-color: var(--borderColor5);
  background-color: initial;
}
[role=button],
a,
label{
  outline: none!important;
}
.input_wrapper{
  position: relative;
}
.input_wrapper .required{
  font-size: 14px;
  line-height: 16px;
  font-family: "FuturaMediumC";
  position: absolute;
  z-index: 1;
  top: 6px;
  right: 7px;
  cursor: text;
}
.social_list li:not(:last-child){
  margin-right: 10px;
}
.social_list a{
  display: block;
  width: 40px;
  height: 40px;
  border: 0.5px solid var(--borderColor5);
  border-radius: 50%;
  position: relative;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social_list li.vk a{
  color: #497BAD;
}
.social_list li.fb a{
  color: #22599B;
}
.social_list li.insta a{
  color: #FC2E68;
}
.social_list li.yt a{
  color: #F7240E;
}
.mes_list{
  margin-bottom: 10px!important;
  font-size: 13px;
  line-height: 15px;
}
.mes_list a{
  color: var(--linkBlack);
}
.mes_list  li:not(:last-child){
  margin-right: 6px;
}
a{
  text-decoration: none!important;
  color: var(--mainGreen);
}
.hide_link:hover,
a:hover{
  color: var(--mainGreen);
}
.swiper_button{
  width: 53px;
  height: 43px;
  border-radius: 2px;
  background: var(--red);
  color: #ffffff;
  font-size: 20px;
}
.swiper_button::after,
.swiper_button::before{
  display: none!important;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
  right: -1px;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
  left: -1px;
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
  display: none;
}
.swiper-pagination .swiper-pagination-bullet{
  width: 8px;
  height: 8px;
  border-radius: 2px;
  opacity: 0.2;
  border: 1px solid var(--black);
  background: var(--mainBg);
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
  border-color: var(--red);
  background: var(--red);
  opacity: 1;
}
.swiper_wrapper{
  position: relative;
}
.swiper_wrapper .swiper-pagination{
  bottom: -52px;
  left: 0;
  width: 100%;
}
.swiper_wrapper .swiper-pagination .swiper-pagination-bullet{
  margin-left: 8px;
  margin-right: 8px;
}
.hide{
  display: none!important;
}
h2.page_title.margin_32{
  margin-bottom: 32px;
}
.swiper_bullets{
  margin-bottom: 82px;
}
.swiper_carousel img{
  width: 100%;
}
.news_carousel .swiper_button{
  top: 26%;
}
.btn-uppercase{
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  font-family: "FuturaDemiC";
}
.btn-xl{
  padding: .75rem 1.6rem .52rem 1.6rem;
}
.swiper_carousel_centered .swiper-slide:not(.swiper-slide-active) {
  opacity: 0.2;
  transform: scale(0.9);
}
.swiper_carousel_centered .swiper-button-prev{
  left: -50%;
}
.swiper_carousel_centered .swiper-button-next{
  right: -50%;
}
.swiper_carousel_centered img{
  border-radius: 2px;
}
.swiper_carousel_centered{
  overflow: initial;
  text-align: center;
  max-width: 664px;
}
.big_news_swiper.no_border{
  border: 0px;
}
.big_news_swiper.no_border .swiper-slide{
  padding: 0px;
}
.block_fluid{
  width: 100vw;
  margin-left: calc(50% - 50vw);
}
.subheader{
  padding-top: 15px;
  border: 0.5px solid var(--borderColor6);
  margin-bottom: 32px;
  padding-bottom: 32px;
}
.subheader + .main{
  padding-top: 0px;
}
.no_margin_bottom{
  margin-bottom: 0px!important;
}
.other_news.border{
  padding-top: 32px;
  border-top: 0.5px solid var(--borderColor6);
  border-left: 0px!important;
  border-right: 0px!important;
  border-bottom: 0px!important;
}
.other_news .news_full_title{
  font-family: "FuturaMediumC";
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 32px;
  color: var(--titleColor);
}
.play{
  position: absolute;
  z-index: 8;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.play .play_ico{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  width: 63px;
  height: 63px;
  border: 6px solid rgba(222, 227, 239, 0.2);
  border-radius: 50%;
  color: #C0121B;
}
.play .play_ico i{
  margin-left: 3px;
  margin-top: 1px;
}
.play .text{
  font-size: 13px;
  line-height: 13px;
  color: #ffffff;
  text-align: right;
  max-width: 87px;
  margin-right: 13px;
}
.back_to_top{
  width: 40px;
  height: 40px;
  border-radius: 2px;
  position: fixed;
  left: 8px;
  bottom: 40px;
  background: var(--red);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  z-index: 50;
  cursor: pointer;
}
.btn_def{
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  font-family: "FuturaDemiC";
}
.back_to_top:hover{
  opacity: 0.8;
}
.news_carousel_4 .swiper_button{
  top: 27%;
}
.swiper_bullets.swiper_bullets_mrg{
  margin-bottom: 122px;
}
.nav-tabs{
  border: 0px;
}
.nav-tabs .nav-link{
  font-family: "FuturaDemiC";
  font-size: 14px;
  line-height: 16px;
  padding: .8rem 1.5rem;
  border-radius: 1px 1px 0px 0px;
}
.nav-tabs .nav-link.active{
  border-color: var(--gray2);
  border-bottom: 0px;
}
.table{
  border: 0.5px solid var(--gray2);
  border-radius: 1px;
  font-size: 16px;
  font-family: Calibri,Arial,sans-serif; 
  color: var(--black);
}
.table th{
  font-family: "FuturaMediumC";
}
.table td{
  font-size: 14px;
}
.table strong{
  font-family: "FuturaDemiC";
}
.table td, .table th{
  border-color: var(--gray2);
}
.table.table_same tr th,
.table.table_same tr td{
  width: 50%;
}
.table td, .table th{
  padding: 23px;
}
.table th{
  position: relative;
  overflow: hidden;
}
.table .old_price{
  font-size: 12px;
  color: var(--gray5);
  text-decoration-line: line-through;
}
.table i.icon-ruble{
  font-size: 10px;
}
.table .old_price i{
  font-size: 8px;
}
.inf_text{
  font-size: 12px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: var(--gray1);
}
.spacing5{
  letter-spacing: 0.5em;
}
.picture_lazy::before{
  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ECECED;
}
.picture_lazy img{
  position: relative;
}
.picture_lazy img:not(.loaded){
  z-index: -1;
}
.picture_lazy img.loaded{
  z-index: 2;
}
p:last-child{
  margin-bottom: 0px;
}
ul:last-child:not([class]){
  margin-bottom: 0px;
}
.icon-ruble{
  font-size: 12px;
}