:root{
  --black: #000000;
  --black2: #060B12;
  --black3: #020817;
  --black4: #020611;
  --mainBg: #fff;
  --bgBlack: #13191D;
  --maintext: #212529;
  --mainGreen: #019529;
  --linkBlack: #01040C;
  --textRed: #FF3B6A;
  --gray1: #53545A;
  --gray2: #CFCFCF;
  --gray3: #EFEFEF;
  --gray4: #EEEEEE;
  --gray5: #9299B1;
  --gray6: #455667;
  --footerCals: #f9faff;
  --footerCals2: #ebedf7;
  --red: #E0121D;
  --titleColor: #010109;
  --borderColor: #E3E3E3;
  --borderColor2: #ECE9E9;
  --borderColor3: #ECECED;
  --borderColor4: #D6D6D6;
  --borderColor5: #ABABAB;
  --borderColor6: #D8D8D8;
  --borderColor7: #EBEFF4;
  --yellow: #FFC700;
  --blue: #0C6AF6;
  --purple: #B85FE2;
  --footerDarkLine: #1a1f2b;
}
body {
  margin: 0;
  font-family: 'Montserrat',"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--maintext);
  text-align: left;
  background-color: var(--bg);
}
.hidden{
  display: none;
}
body.scroll_hide{
  overflow: hidden;
}
.relative{
  position: relative;
}
.text-right{
  text-align: right;
}
.montserrat{
  font-family: 'Montserrat',"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
@media (min-width: 768px) {
  .container, .container-sm, .container-xl {
    max-width: 924px;
  }
}
@media (min-width: 992px) {
  .container, .container-sm, .container-xl {
    max-width: 1190px;
  }
}
@media (min-width: 1200px) {
  .container, .container-sm, .container-xl {
     max-width: 1390px;
  }
  .container-lg{
    max-width: 1128px;
  }
  .container-md{
    max-width: 897px;
  }
}
.image_border_r{
  border-radius: 3px;
}
.color_label.label_red{
  background: var(--textRed);
}
.color_label.label_green{
  background: var(--mainGreen);
}
.color_label.label_blue{
  background: var(--blue);
}
.color_label.label_yellow{
  background: var(--yellow);
}
.color_label.label_purple{
  background: var(--purple);
}
.color_label{
  color: var(--mainBg);
  z-index: 5;
  position: absolute;
  font-family: "FuturaDemiC";
  -moz-transform: rotate(-46deg);
  -ms-transform: rotate(-46deg);
  -webkit-transform: rotate(-46deg);
  -o-transform: rotate(-46deg);
  transform: rotate(-46deg);
  top: 32px;
  left: -40px;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  width: 170px;
  align-items: center;
  justify-content: center;
}
.color_label:not(.sm){
  font-size: 13px;
  min-height: 24px;
  padding: 5px 23px;
  line-height: 13px;
}
.color_label.sm{
  font-size: 10px;
  line-height: 12px;
  padding: 2px 23px;
  top: 5px;
  left: -72px;
}
.color_label.text_sm{
  font-size: 9px;
  line-height: 11px;
}
ul[class]{
  padding: 0px;
  margin: 0px;
}
ul[class] li{
  list-style: none;
}
.overflow_h{
  overflow: hidden;
}
.flex{
  display: flex;
}
.align_center{
  align-items: center;
}
.align_bottom{
  align-items: flex-end;
}
.align_content{
  align-content: center;
}
.space_between{
  justify-content: space-between;
}
.cl{
  padding-right: 15px;
  padding-left: 15px;
}
.btn-lg{
  padding: .25rem 0.80rem;
}
.btn-success{
  background-color: var(--mainGreen);
  border-color: var(--mainGreen);
}
.btn-outline-secondary{
  color: var(--linkBlack);
  border-color: #ECE9E9
}
.btn-outline-secondary:hover{
  color: var(--linkBlack);
  background-color: #ECE9E9;
  border-color: #ECE9E9;
}
.btn{
  border-radius: 2px;
}
.uppercase{
  text-transform: uppercase;
}
.form-control{
  border-radius: 2px;
  font-size: 12px;
  border: 0.5px solid var(--borderColor5);
  height: 40px;
  font-family: "FuturaBookC Regular";
  background-color: var(--mainBg);
  padding: 0.8rem;
}
.form-control::placeholder{
  color: #989999;
}
.arrow_container{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}
.arrow_container .container{
  height: 100%;
}
.arrow_container .swiper-button-next{
  right: 15px;
}
.arrow_container .swiper-button-prev{
  left: 15px;
}
.ico{
  display: inline-block;
}
.ico.ico_header_menu{
  background: url('../image/ico/menu.svg');
}
.ico.ico_right_menu{
  background: url('../image/ico/right_menu.svg');
}
.ico.ico_right_menu2{
  background: url('../image/ico/right_menu_green.svg');
}
.ico_right_menu_red{
  background: url('../image/ico/right_menu_red.svg');
}
.white{
  color: #ffffff;
}
.ico.ico_pattern{
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.no_sel{
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;   
}
.main{
  padding-top: 16px;
  padding-bottom: 64px;
  min-height: 400px;
}
h1, h2, h3, h4, h5{
  font-family: "FuturaMediumC";
  color: var(--titleColor);
}
.bg_gray{
  background: var(--footerCals);
}
.text_center{
  text-align: center;
}
.text_right{
  text-align: right;
}
h1.page_title{
  font-weight: 500;
}
h2.page_title{
  font-family: "FuturaDemiC";
}
h3.page_title{
  color: var(--titleColor);
}
h4.page_title{
  font-family: "FuturaMediumC";
  color: var(--titleColor);
}
.page_title.margin_sm{
  margin-bottom: 15px;
}
.page_title.margin_md{
  margin-bottom: 40px;
}
.dropdown-menu{
  border-radius: 3px;
  width: 100%;
  font-size: 14px;
}
.dropdown-menu .drop_select{
  cursor: pointer;
  font-family: "FuturaMediumC";
  padding: .375rem .75rem;
}
.dropdown-menu .drop_select.active{
  color: var(--red);
  background-color: #ffffff;
}
.dropdown-menu .drop_select:hover{
  color: var(--red);
  background-color: #ffffff!important;
}
.dropdown-menu .drop_select:focus{
  color: var(--red);
  background-color: #ffffff!important;
}
.btn_fluid_loading{
  font-family: "FuturaDemiC";
  color: var(--mainGreen);
  border:0.5px solid var(--borderColor4);
  border-radius: 1px;
  text-transform: uppercase;
  padding: .6rem .75rem;
  font-size: 14px;
  background: #ffffff;
}
.btn_fluid_loading:hover {
  color: var(--black);
  background-color: var(--borderColor4);
  border-color: var(--borderColor4);
}
.row_m_b{
  margin-bottom: 25px;
}
.hide_link{
  color: var(--black);
}
.custom-control-label::before{
  border-color: var(--borderColor5);
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 2px!important;
  top: .15rem;
  box-shadow: initial!important;
  outline: none!important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::after{
  background-image: initial;
  width: 8px;
  height: 8px;
  background: var(--linkBlack);
  border-radius: 1px;
  top: 7px;
  left: -19px;
}
.custom-control-input:checked~.custom-control-label::before{
  border-color: var(--borderColor5);
  background-color: initial;
}
[role=button],
a,
label{
  outline: none!important;
}
.input_wrapper{
  position: relative;
}
.input_wrapper .required{
  font-size: 14px;
  line-height: 16px;
  font-family: "FuturaMediumC";
  position: absolute;
  z-index: 1;
  top: 6px;
  right: 7px;
  cursor: text;
}
.social_list li:not(:last-child){
  margin-right: 10px;
}
.social_list a{
  display: block;
  width: 40px;
  height: 40px;
  border: 0.5px solid var(--borderColor5);
  border-radius: 50%;
  position: relative;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social_list li.vk a{
  color: #497BAD;
}
.social_list li.fb a{
  color: #22599B;
}
.social_list li.insta a{
  color: #FC2E68;
}
.social_list li.yt a{
  color: #F7240E;
}
.mes_list{
  margin-bottom: 10px!important;
  font-size: 13px;
  line-height: 15px;
}
.mes_list a{
  color: var(--gray2);
}
.mes_list  li:not(:last-child)::after{
  content: "";
  display: inline-block;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: var(--gray1);
  margin-left: 8px;
  margin-right: 8px;
}
a{
  text-decoration: none!important;
  color: var(--mainGreen);
}
.hide_link:hover,
a:hover{
  color: var(--red);
}
.swiper_button{
  width: 53px;
  height: 43px;
  border-radius: 2px;
  background: var(--red);
  color: #ffffff;
  font-size: 20px;
}
.swiper_button::after,
.swiper_button::before{
  display: none!important;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
  right: -1px;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
  left: -1px;
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
  display: none;
}
.swiper-pagination .swiper-pagination-bullet{
  width: 8px;
  height: 8px;
  border-radius: 2px;
  opacity: 0.2;
  border: 1px solid var(--black);
  background: var(--mainBg);
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
  border-color: var(--red);
  background: var(--red);
  opacity: 1;
}
.swiper_wrapper{
  position: relative;
}
.swiper_wrapper .swiper-pagination{
  left: 0;
  width: 100%;
}
.swiper_wrapper .swiper-pagination .swiper-pagination-bullet{
  margin-left: 8px;
  margin-right: 8px;
}
.hide{
  display: none!important;
}
h2.page_title.margin_32{
  margin-bottom: 32px;
}
.swiper_carousel img{
  width: 100%;
}
.news_carousel .swiper_button{
  top: 26%;
}
.btn-uppercase{
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  font-family: "FuturaDemiC";
}
.btn-xl{
  padding: .75rem 1.6rem .52rem 1.6rem;
}
.swiper_carousel_centered .swiper-slide:not(.swiper-slide-active) {
  opacity: 0.2;
  transform: scale(0.9);
}
.swiper_carousel_centered .swiper-button-prev{
  left: -50%;
}
.swiper_carousel_centered .swiper-button-next{
  right: -50%;
}
.swiper_carousel_centered img{
  border-radius: 2px;
}
.swiper_carousel_centered{
  overflow: initial;
  text-align: center;
  max-width: 664px;
}
.big_news_swiper.no_border{
  border: 0px;
}
.big_news_swiper.no_border .swiper-slide{
  padding: 0px;
}
.block_fluid{
  width: 100vw;
  margin-left: calc(50% - 50vw);
}
.subheader{
  padding-top: 15px;
  border: 0.5px solid var(--borderColor6);
  margin-bottom: 32px;
  padding-bottom: 32px;
}
.subheader + .main{
  padding-top: 0px;
}
.no_margin_bottom{
  margin-bottom: 0px!important;
}
.other_news.border{
  padding-top: 32px;
  border-top: 0.5px solid var(--borderColor6);
  border-left: 0px!important;
  border-right: 0px!important;
  border-bottom: 0px!important;
}
.other_news .news_full_title{
  font-family: "FuturaMediumC";
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 24px;
  color: var(--titleColor);
}
.play{
  position: absolute;
  z-index: 8;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.play.play_inline{
  position: relative;
}
.play .play_ico{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  width: 63px;
  height: 63px;
  border: 6px solid rgba(222, 227, 239, 0.2);
  border-radius: 50%;
  color: #C0121B;
}
.play .shield_ico{
  background: url('../image/ico/garancy.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 37px;
  height: 37px;
}
.play.border_gray .play_ico{
  border: 2px solid var(--gray2);
}
.play.cursor{
  cursor: pointer;
}
.play.play_sm .play_ico{
  width: 37px;
  height: 37px;
  font-size: 10px;
  border-width: 3px;
}
.play .play_ico i{
  margin-left: 3px;
  margin-top: 1px;
}
.play.play_sm i{
  margin: 0px;
}
.play .text{
  font-size: 13px;
  line-height: 13px;
  color: #ffffff;
  text-align: right;
  max-width: 87px;
  margin-right: 13px;
}
.play.text_lg .text{
  max-width: 120px;
}
.play.play_black .text{
  color: var(--linkBlack);
}
.play.play_black2 .text{
  color: var(--black4);
}
.section_black .play .text{
  color: var(--red);
}
.back_to_top{
  width: 40px;
  height: 40px;
  border-radius: 2px;
  position: fixed;
  background: var(--red);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  z-index: 50;
  cursor: pointer;
}
.h_100{
  height: 100%;
}
.btn_def{
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  font-family: "FuturaDemiC";
  letter-spacing: 0.1em;
}
.back_to_top:hover{
  opacity: 0.8;
}
.news_carousel_4 .swiper_button{
  top: 27%;
}
.swiper_bullets.swiper_bullets_mrg{
  margin-bottom: 122px;
}
.nav-tabs{
  border: 0px;
}
.nav-tabs .nav-link{
  font-family: "FuturaDemiC";
  font-size: 14px;
  line-height: 16px;
  padding: .8rem 1.5rem;
  border-radius: 1px 1px 0px 0px;
}
.nav-tabs .nav-link.active{
  border-color: var(--gray2);
  border-bottom: 0px;
}
.table{
  border: 0.5px solid var(--gray2);
  border-radius: 1px;
  font-size: 16px;
  font-family: Calibri,Arial,sans-serif; 
  color: var(--black);
}
.table th{
  font-family: "FuturaMediumC";
}
.table td{
  font-size: 14px;
}
.table strong{
  font-family: "FuturaDemiC";
}
.table td, .table th{
  border-color: var(--gray2);
}
.table.table_same tr th,
.table.table_same tr td{
  width: 50%;
}
.table td, .table th{
  padding: 23px;
}
.table th{
  position: relative;
  overflow: hidden;
}
.table .old_price{
  font-size: 12px;
  color: var(--gray5);
  text-decoration-line: line-through;
}
.table i.icon-ruble{
  font-size: 10px;
}
.table .old_price i{
  font-size: 8px;
}
.inf_text{
  font-size: 12px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: var(--gray1);
}
.spacing5{
  letter-spacing: 0.5em;
}
.picture_lazy::before{
  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--borderColor3);
}
.picture_lazy img{
  position: relative;
}
.picture_lazy img:not(.loaded){
  z-index: -1;
}
.picture_lazy img.loaded{
  z-index: 2;
}
p:last-child{
  margin-bottom: 0px;
}
ul:last-child:not([class]){
  margin-bottom: 0px;
}
.icon-ruble{
  font-size: 12px;
}
.main_top_of{
  padding-top: 0px;
}
.btn-outline-light,
.btn-outline-success{
  border-width: 2px;
}
.hr_border{
  border-top: 0.5px solid var(--gray2);
}
.hr_border.fluid{
  width: 100vw;
  margin-left: calc(50% - 50vw);
}
.green{
  color: var(--mainGreen)!important;
}
.cr_no_mrg .news_card{
  margin-bottom: 0px!important;
}
.section_title_btn .news_full_title,
.section_title_btn .page_title{
  margin-bottom: 0px;
}
.section_title_btn .btn{
  font-size: 13px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: inherit;
}
.section_title_btn .btn_group{
  margin-bottom: 0px;
}
.btn-danger{
  background-color: var(--red);
  border-color: var(--red);
}
.front_section.bg_gray{
  border: 0px;
}
.margin_bt_mn{
  margin-bottom: -1px!important;
}
.banner_fluid_slide .slide{
  color: var(--black4);
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}
.banner_fluid_slide .label{
  font-size: 22px;
  line-height: 22px;
  font-family: "FuturaMediumC";
  margin-bottom: 5px;
}
.banner_fluid_slide h3{
  font-size: 40px;
  line-height: 40px;
  font-family: "FuturaDemiC";
}
.swiper_wrapper:not(.card_slide) .banner_fluid_slide .brand_logo{
  margin-top: 10px;
}
.banner_fluid_slide .swiper-pagination{
  bottom: 8px!important;
}
.banner_fluid_slide .swiper-pagination .swiper-pagination-bullet{
  background: white;
  border-color: white;
  opacity: 1;
}
.banner_fluid_slide .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
  border-color: var(--red);
  background: var(--red);
}
.swiper_wrapper.card_slide{
  padding-bottom: 30px;
}
.swiper_wrapper.card_slide .slide{
  padding: 45px 30px 40px 30px;
  text-align: center;
}
.swiper_wrapper.card_slide .slide .brand_logo{
  position: absolute;
  z-index: 2;
  top: 18px;
  right: 34px;
}
.swiper_wrapper.card_slide .slide .image_list{
  margin-bottom: 20px;
}
.swiper_wrapper.card_slide .slide .image_list .img:not(.brand_logo){
  margin: 0px auto;
  display: block;
}
.swiper_wrapper.card_slide .slide .btn{
  margin-top: 18px;
}
.swiper_wrapper.card_slide .slide .item_info{
  display: inline-block;
}
.swiper_wrapper.card_slide .banner_fluid_slide .label{
  text-align: left;
}
.custom_scrollbar::-webkit-scrollbar {
  width: 12px;
}
.custom_scrollbar::-webkit-scrollbar-track {
  border-left: 0.5px solid var(--borderColor);
  border-right: 0.5px solid var(--borderColor);
}
.custom_scrollbar::-webkit-scrollbar-thumb {
  background: var(--gray2);
  border-radius: 0.5px;
  background-clip: content-box;
  border: 3px solid transparent;
}
.custom_scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 0.5px;
  background-clip: content-box;
  border: 3px solid transparent;
}
.front_section.border_top{
  border-top: 0.5px solid var(--borderColor6);
  padding-top: 32px;
  padding-bottom: 48px;
}
.no_pd_top{
  padding-top: 0px!important;
}
.no_mr_top{
  margin-top: 0px!important;
}
.irs-grid-text{
  display: none;
}
.irs--flat .irs-line{
  height: 3px!important;
  border-radius: 1px!important;
  background: #C4C4C4!important;
}
.irs--flat .irs-bar{
  height: 3px!important;
  background-color: var(--mainGreen)!important;
}
.irs--flat .irs-handle{
  height: 10px!important;
}
.irs--flat .irs-handle>i:first-child{
  background-color: var(--mainGreen)!important;
}
.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single{
  background-color: var(--mainGreen)!important;
  border-radius: 1px!important;
  display: flex;
  align-items: center;
  height: 25px;
}
.irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before{
  border-top-color: var(--mainGreen)!important;
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  bottom: initial!important;
  top: -6px;
}
.irs-from, .irs-to, .irs-single{
  top: 40px!important;
  z-index: 10;
}
.irs-min, .irs-max{
  visibility: visible!important;
  border-radius: 1px!important;
}
.irs-grid{
  bottom: 8px!important;
}
.irs--flat .irs-grid-pol{
  background-color: var(--mainGreen)!important;
}
.col_banner_slide{
  margin-bottom: 30px;
}
.fancybox-container .fancybox-thumbs{
  display: block!important;
  top: initial!important;
  left: 0;
  right: 0;
  width: 100%!important;
  background: transparent!important;
  bottom: 15px!important;
}
.fancybox-show-thumbs .fancybox-inner{
  right: 0px!important;
}
.fancybox-thumbs-x .fancybox-thumbs__list{
  display: block!important;
  margin: 0px auto!important;
  background: rgba(239, 239, 239, 0.4);
  border: 0.5px solid var(--gray2);
  padding: 12px 23px;
  border-radius: 2px;
}
.fancybox-thumbs__list a{
  width: 61px!important;
  height: 61px!important;
  border-radius: 2px;
  overflow: initial!important;
  border: 0.5px solid var(--gray2);
  margin-right: 12px!important;
  margin-left: 12px!important;
}
.fancybox-thumbs__list a:before{
  border: 2px solid var(--red)!important;
  border-radius: 2px;
  margin: -2px;
}
.fancybox-bg{
  background: var(--mainBg)!important;
  opacity: 1!important;
}
.fancybox-toolbar{
  background: var(--mainBg)!important;
}
.fancybox-toolbar .fancybox-button{
  background: var(--mainBg)!important;
}
.fancybox-toolbar .fancybox-button--thumbs,
.fancybox-toolbar .fancybox-button.fancybox-button--play,
.fancybox-toolbar .fancybox-button.fancybox-button--zoom{
  display: none!important;
}
.fancybox-navigation .fancybox-button{
  background: var(--red)!important;
  color: #ffffff!important;
  width: 53px!important;
  padding: 0px!important;
  height: 43px!important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}
.fancybox-navigation .fancybox-button--arrow_left{
  left: 38px!important;
}
.fancybox-navigation .fancybox-button--arrow_right{
  right: 38px!important;
}
.fancybox-toolbar .fancybox-button.fancybox-button--close{
  color: #000000!important;
  opacity: 1!important;
}
.modal-content{
  border-radius: 2px;
  border: 0px;
  background: #DAD8D8;
}
.modal-content .modal-header{
  border-bottom: 0px;
  padding: 28px 22px 6px 22px;
}
.modal-content .modal-body{
  padding: 6px 22px 13px 22px;
}
.modal-content .modal-header h5{
  font-size: 24px;
  line-height: 28px;
  color: #010210;
  font-family: "FuturaMediumC";
}
.modal-content .modal-header .close{
  font-size: 14px;
  color: black;
  opacity: 1;
  outline: none!important;
}
.user_form .form_lic{
  font-size: 12px;
  line-height: 14px;
  color: var(--gray1);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.user_form .form_buttom_row{
  text-align: center;
  margin-bottom: 0px;
}
.user_form .form_buttom_row button{
  height: 40px;
  padding-left: 33px;
  padding-right: 33px;
}
.modal-footer{
  border-top: 0.5px solid #D2D2D2;
  justify-content: initial;
}
.modal-footer .modal_link{
  font-size: 12px;
  line-height: 20px;
  font-family: "FuturaDemiC";
  text-align: center;
  display: block;
  padding: 6px 0px;
}
.modal-footer > .row{
  margin: 0px;
  width: 100%;
  position: relative;
}
.modal-footer > .row .item:first-child::after{
  background: #D2D2D2;
  content: "";
  display: block;
  width: 1px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}
@media (min-width: 576px) {
  .modal-dialog{
    max-width: 316px;
  }
}
@media (min-width: 770px) and (max-width: 1000px) {
  .swiper_wrapper:not(.card_slide) .banner_fluid_slide .slide .item:last-child{
    margin-left: 30px;
  }
  .swiper_wrapper:not(.card_slide) .banner_fluid_slide .slide .item:not(:first-child){
    margin-left: 10px;
  }
  .swiper_wrapper:not(.card_slide) .banner_fluid_slide .image_list .img:last-child{
    margin-left: 20px;
  }
  .swiper_wrapper:not(.card_slide) .banner_fluid_slide .slide{
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 769px) {
  .swiper_wrapper:not(.card_slide) .banner_fluid_slide .slide{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
    min-height: 140px;
  }
  .swiper_wrapper:not(.card_slide) .banner_fluid_slide .slide .item:not(:first-child){
    margin-left: 100px;
  }
  .swiper_wrapper:not(.card_slide) .banner_fluid_slide .image_list .img:last-child{
    margin-left: 74px;
  }
  .swiper_wrapper:not(.card_slide) .banner_fluid_slide .slide .item:last-child{
    margin-left: 160px;
  }
}
@media (max-width: 769px) {
  .swiper_wrapper:not(.card_slide) .banner_fluid_slide .slide{
    padding: 45px 30px 40px 30px;
    text-align: center;
  }
  .swiper_wrapper:not(.card_slide) .banner_fluid_slide .slide .item{
    width: 100%;
  }
  .swiper_wrapper:not(.card_slide) .banner_fluid_slide .slide .image_list{
    margin-bottom: 20px;
  }
  .swiper_wrapper:not(.card_slide) .banner_fluid_slide .brand_logo{
    position: absolute;
    z-index: 2;
    top: 18px;
    right: 34px;
  }
  .swiper_wrapper:not(.card_slide) .item_info{
    position: relative;
    z-index: 10;
  }
  .swiper_wrapper:not(.card_slide) .slide .image_list .img:not(.brand_logo){
    margin: 0px auto;
    display: block;
  }
}
.text_red{
  color: var(--textRed);
}
.fotorama__nav-wrap{
  margin-top: -10px;
}
.fotorama__thumb-border,
.fotorama__thumb{
  border-radius: 2px;
}
.fotorama__thumb-border{
  border-color: var(--red);
}
.fotorama__stage__shaft{
  z-index: 30;
}
@media (min-width: 994px) {
  .pd-bt-8a{
    padding-bottom: 64px!important;
  }
  .pd-bt-6a{
    padding-bottom: 48px!important;
  }
  .pd_top_a8{
    padding-top: 64px!important;
  }
  .pd_top_a4{
    padding-top: 32px!important;
  }
  .mr_bt_a4{
    margin-top: 32px!important;
  }
  h2.page_title{
    font-size: 40px;
    line-height: 36px;
    margin-bottom: 48px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  h3.page_title{
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 24px;
  }
  h4.page_title{
    font-size: 30px;
    line-height: 28px;
    margin-bottom: 32px;
  }
  .swiper_bullets{
    margin-bottom: 82px;
  }
  .swiper_wrapper .swiper-pagination{
    bottom: -52px;
  }
  .back_to_top{
    left: 8px;
    bottom: 40px;
  }
  .mr_bt_12a{
    margin-bottom: 96px!important;
  }
  .pd-bt-12a{
    padding-bottom: 96px!important;
  }
  .mr-tp-6a{
    margin-top: 48px!important;
  }
  .pd-tp-6a{
    padding-top: 48px!important;
  }
  .mr_bt_4a{
    margin-bottom: 32px!important;
  }
  .mr_bt_3a{
    margin-bottom: 24px!important;
  }
  .pd_tp_3a{
    padding-top: 24px!important;
  }
  .pd_tp_4a{
    padding-top: 32px!important;
  }
  .pd_bt_4a{
    padding-bottom: 32px!important;
  }
  .pd_bt_1a{
    padding-bottom: 8px!important;
  }
  h1.page_title{
    font-size: 34px;
    line-height: 39px;
    margin-bottom: 32px;
  }
  .mr_bt_a6{
    margin-bottom: 48px;
  }
  .main_bot_of{
    padding-bottom: 0px!important;
  }
  .section_title_btn{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 24px;
  }
  .section_title_btn .sort_list{
    margin-bottom: 0px;
  }
  .front_section.bg_gray{
    padding-top: 32px;
    padding-bottom: 48px;
  }
  .pd_bt_2a{
    padding-bottom: 16px!important;
  }
}
@media (max-width: 993px) {
  .pd_bt_1a{
    padding-bottom: 8px!important;
  }
  .pd_bt_2a{
    padding-bottom: 16px!important;
  }
  .front_section.bg_gray{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .section_title_btn{
    margin-bottom: 20px;
  }
  .section_title_btn > .news_full_title{
    margin-bottom: 15px;
  }
  .mr_bt_a4{
    margin-top: 20px!important;
  }
  .pd_bt_4a{
    padding-bottom: 20px!important;
  }
  .section_title_btn .btn_group:not(:last-child),
  .section_title_btn .sort_list{
    margin-bottom: 20px;
  }
  .mr_bt_a6{
    margin-bottom: 20px;
  }
  .pd_top_a4{
    padding-top: 32px!important;
  }
  .pd_tp_3a{
    padding-top: 20px!important;
  }
  h1.page_title{
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
  }
  .back_to_top{
    right: 8px;
    bottom: 8px;
  }
  .mobile_reverse{
    flex-wrap: wrap-reverse;
  }
  .pd_tp_4a{
    padding-top: 20px!important;
  }
  .mr_bt_12a{
    margin-bottom: 30px;
  }
  .pd-bt-8a{
    padding-bottom: 30px!important;
  }
  .pd-bt-6a{
    padding-bottom: 20px!important;
  }
  .pd-tp-6a{
    padding-top: 20px!important;
  }
  .pd-bt-12a{
    padding-bottom: 20px!important;
  }
  .pd_top_a8{
    padding-top: 30px!important;
  }
  .mr-tp-6a{
    margin-top: 20px!important;
  }
  .mr_bt_3a{
    margin-bottom: 20px!important;
  }
  .mr_bt_4a{
    margin-bottom: 20px!important;
  }
  h2.page_title{
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 30px;
  }
  h3.page_title{
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 24px;
  }
  h4.page_title{
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 22px;
  }
  .swiper_bullets{
    margin-bottom: 42px;
  }
  .swiper_wrapper .swiper-pagination{
    bottom: -36px;
  }
}