.training_about{
    padding-bottom: 64px;
    padding-top: 92px;
    border-bottom: 0.5px solid var(--borderColor6);
}
.training_about p{
    font-size: 13px;
    line-height: 28px;
    color: var(--gray1);
}
.training_about p:not(:last-child){
    margin-bottom: 32px;
}
.training_title{
    font-family: "FuturaMediumC";
    font-size: 24px;
    line-height: 26px;
    color: var(--black);
    margin-bottom: 32px;
}
.training_about .training_body{
    padding-right: 100px;
}
.training_video{
    border-bottom: 0.5px solid var(--borderColor6);
    padding-top: 32px;
    padding-bottom: 64px;
}
.video_list .item:not(:last-child){
    margin-bottom: 40px;
}
.training_vide_text{
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    padding-top: 64px;
    border-top: 0.5px solid var(--gray2);
    margin-top: 64px;
}
.training_vide_text p{
    margin: 0px auto;
    max-width: 897px;
}
.training_rew{
    padding-top: 32px;
    padding-bottom: 68px;
}
.training_rew.bg{
    background: var(--footerCals);
    margin-bottom: 32px;
}
.training_rew h4{
    font-size: 30px;
    line-height: 28px;
    font-family: "FuturaMediumC";
    margin-bottom: 26px;
    color: var(--titleColor);
}