.top_media{
    position: relative;
}
.media_slider .swiper-slide{
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    position: relative;
    padding-top: 107px;
    padding-bottom: 86px;
}
.media_slider .swiper-slide::before{
    content: "";
    background: #000000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
}
.media_slider .slide_body{
    z-index: 10;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 2px;
    width: 50%;
    padding: 46px 101px 46px 61px;
}
.media_slider .slide_body h2{
    font-family: FuturaMediumC;
    font-size: 30px;
    line-height: 28px;
    color: #ffffff;
    margin-bottom: 15px;
}
.media_slider .slide_body p{
    font-size: 13px;
    line-height: 28px;
    color: var(--borderColor);
    margin-bottom: 0px;
}
.media_slider .container{
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.media_slider .slide_bottom{
    margin-top: 50px;
}
.media_slider .media_play_btn{
    position: relative;
    height: 100%;
}
.media_slider .media_play_btn .play{
    left: initial;
    right: 0;
    width: initial;
    cursor: pointer;
}
.media_title_wrapper{
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 15px;
}
.training_about.full{
    padding-top: 0px;
}
.training_title.full{
    font-size: 40px;
    line-height: 36px;
    font-family: "FuturaDemiC";
}
.training_about{
    border: 0px!important;
}
.top_media.background{
    padding-top: 107px;
    padding-bottom: 101px;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    color: var(--borderColor);
    margin-bottom: 40px;
}
.top_media.background::before{
    content: "";
    background: #371F1F;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
}
.top_media .media_body{
    text-align: center;
    position: relative;
    z-index: 20;
}
.top_media .media_body h2{
    font-size: 40px;
    line-height: 36px;
    color: #ffffff;
    font-family: "FuturaDemiC";
    max-width: 890px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
}
.top_media.background .play{
    position: initial;
    margin-bottom: 19px;
    cursor: pointer;
}
.top_media.background .media_date{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 25px;
}
.top_media.background .media_date span{
    color: var(--textRed);
}
.top_media .media_body p{
    max-width: 690px;
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
    line-height: 28px;
    margin-bottom: 42px;
}
.training_about.full.center{
    text-align: center;
}
.training_about.full.center p{
    max-width: 890px;
    margin-left: auto;
    margin-right: auto;
}
.about_empty{
    margin-bottom: 38px;
}
.about_empty .title{
    font-size: 20px;
    line-height: 22px;
    color: var(--linkBlack);
    margin-bottom: 18px;
}
.video_wrapper{
    position: relative;
    cursor: pointer;
}
.training_about.no_bottom_padding{
    padding-bottom: 35px;
}
.training_social{
    padding-top: 48px;
    padding-bottom: 80px;
    background: var(--gray3);
    margin-bottom: 36px;
}
.training_social .title{
    font-size: 30px;
    line-height: 28px;
    color: var(--black);
    margin-bottom: 42px;
}
.training_social a.social_card{
    color: var(--mainGreen);
    border: 0.5px solid var(--mainGreen);
    border-radius: 2px;
    padding-top: 100%;
    position: relative;
    display: block;
}
.training_social a.social_card .body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    align-content: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
}
.training_social a.social_card .name{
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    margin-top: 20px;
}
.training_social a.social_card i{
    font-size: 64px;
    line-height: 64px;
}
.training_more {
    padding-top: 69px;
    padding-bottom: 79px;
}
.training_more .tab-content:not(:last-child){
    margin-bottom: 14px;
}
.training_more .title{
    margin-bottom: 26px;
}
.training_full .top_training_date{
    font-size: 12px;
    line-height: 20px;
    color: var(--gray1);
    text-align: center;
    margin-bottom: 32px;
}
.training_full .top_training_date span{
    color: var(--textRed);
}
.training_top_picture{
    position: relative;
    overflow: hidden;
    border-radius: 2px;
    margin-bottom: 48px;
}
.btn_middle{
    margin-bottom: 39px;
}